<ion-content>
  <ion-toolbar style=" --background: transparent;
    --ion-color-base: transparent !important;">
    <ion-buttons slot="start" style="color: #fff;">
      <ion-back-button defaultHref="login" text="VOLTAR"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="dark">
    <div class="container ion-text-center">
      <div>
        <h5 style="color: #fff; margin-top: 30%!important; font-size: 22px;">Ficamo felizes pelo seu interesse</h5>
      </div>
      <div class="ion-padding ">
       <p style="color: #fff; font-size: 17px;">Na próxima etapa, você precisa fornecer todos os dados solicitados</p>

        <span [routerLink]="['/prestador']" style="background-color: #1D9FFE; color: #fff; padding: 3% 10%; text-decoration: none; margin-top: 100px!important;">Continuar</span>
      </div>
    </div>
  </div>
</ion-content>